@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #333;
    padding-bottom: 10px;
    display: block;
}
.container-fluid{
    width: 95%;
    margin: 0 auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header-area{
    display: flex;
    justify-content: space-between;
}
.logo-area, .menu-area{
    font-size: 20px;
    text-transform: uppercase;
    padding: 40px 0;
    font-weight: 600;
}
.hero-area{
   
    width: 100%;
    height: 100vh;
    background: #ddd;
}
.row{
    display: flex;   
    justify-content: space-between;   
    margin-top: 70px;
}
.col-md-6{
    width: 48%;
}
.col-md-4{
    width: 32%;
}
.boxed-btn{
    display: inline-block;     
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
}
.project-text h2{
    margin-bottom: 80px;
}
.project-text p{
    padding-left: 100px;
    line-height: 1.8;
}
.project-image{
    width: 100%;
    height: 400px;
    background: #ddd;
}
.project-text.small-margin h3{
    margin-bottom: 20px;
}
.project-text.small-margin p{
   padding-left: 0px;
}

.project-feature-image{
    width: 100%;
    height: 280px;
    background: #ddd;
}

.best-selling{
    width: 100%;
    height: 400px;
    background: #ddd;
}
.centered-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}
.branding-image{
    width: 100%;
    height: 600px;
    background: #ddd;
    margin-top: 60px;
}
.footer-section{
    margin-top: 150px;
    margin-bottom: 100px;
}
.footer-menu ul,.social-links ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-info, .footer-menu, .social-links{
    padding-left: 50px;
}
